apiVersion: apps/v1
kind: Deployment
metadata:
  name: deploy-stuff
  labels:
    app: deploy-stuff
spec:
  replicas: 1
  selector:
    matchLabels:
      app: deploy-stuff
  template:
    metadata:
      labels:
        app: deploy-stuff
    spec:
      containers:
      - name: deploy-stuff
        image: ghcr.io/choste/deploy-stuff:{{.Values.appTag}}
        ports:
        - containerPort: 3000